
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

/*Ejercicio 1: 
Aplicar color de fondo del cuerpo (body).
Aplicar color de texto del título <h1>.
Aplicar colores a los párrafos.*/

/* Ejercicio 2: Estilos de fuentes
Cambiar la fuente del título <h1> a Arial.
Cambiar el tamaño de la fuente del párrafo a 18px.
Plus: Agregar otra fuente de https://fonts.google.com/ y usarla en algún párrafo.*/

/* Ejercicio 3: Bordes y márgenes
Aplicar un borde sólido de 1px de color claro a un párrafo (<p>).
Aumentar el margen superior del título <h1> a 20px.
Agregar un padding de 10px alrededor del contenido del párrafo.*/

body {
    font-family: Sofia, sans-serif;
    background-color: beige;
}

h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

p {
    color: gray;
    font-size: 18px;
    font-family: "Agdasima";
    padding: 10px;
}

.parrafo {
    border: 1px solid burlywood;

}

/*Ejercicio 4: Estilos en botón
Cambiar el color de fondo del botón a verde (#28a745) y el color del texto a blanco.
Agregar bordes redondeados (border-radius) de 5px.
Agregar padding 10px.
Aplicar ancho del botón a 100px.
Establecer margen superior e inferior de 10px.
Quitar el color del borde del botón.*/

button {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin: 10px 0;
    border-color: none;
}

/* Ejercicio 5: Inputs del formulario
Agregar padding de 5px.
Quitar bordes.
Agregar márgenes superiores e inferiores de 5px entre cada control
Plus: Aplicar un tipo de fuente para los labels de cada control.
Plus: Aplicar width y height al textarea. Ejemplo: 300px ancho y 100px alto.*/

input {
    padding: 5px;
    border: none;
    margin: 10px 0;
}

/* Ejercicio 6: Footer
Aplicar color de fondo.
Cambiar color del texto del footer.
Agregar padding de 20px.
Alinear texto al centro.*/

footer {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Ejercicio 7: Header
Crear etiqueta header con un texto.
Aplicar color de fondo y color de texto.
Agregar padding de 50px.
Alinear textos al centro.*/

header {
    background-color: blueviolet;
    color: white;
    padding: 50px;
    text-align: center;
}

/*Ejercicio 8: Nav menu
Aplicar color de fondo a la etiqueta nav y color de texto.
Eliminar las bullets de la <ul> con: list-style: none;
En cada item <li>, agregar padding 10px y aplicar display: inline-block; para mostrar los elementos en línea.
Plus: Ocultar el submenu (ul dentro del li) con display: none;*/

nav{
    background-color: cadetblue;
    color: blue;
}

ul{
    list-style: none;
}

li {
    padding: 10px;
    display: inline-block;
}

.submenu {
    display: none;
}

/*Ejercicio 9: Diseño responsive - Media queries
Agregar media queries para que el color de fondo del body tenga un color diferente en distintas pantallas. 
Ejemplos: @media screen and (min-width: 768px) {}
@media screen and (min-width: 1280px) {}*/

@media screen and (min-widht: 481px) and (max-width: 768px){
    body {
        background-color: pink;
    }
}