
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');


body {
    font-family: Sofia, sans-serif;
    background-color: beige;
}

h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

p {
    color: gray;
    font-size: 18px;
    font-family: "Agdasima";
    padding: 10px;
}

.parrafo {
    border: 1px solid burlywood;

}

button {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin: 10px 0;
    border-color: none;
}

input {
    padding: 5px;
    border: none;
    margin: 10px 0;
}

footer {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    background-color: blueviolet;
    color: white;
    padding: 50px;
    text-align: center;
}

nav{
    background-color: cadetblue;
    color: blue;
}

ul{
    list-style: none;
}

li {
    padding: 10px;
    display: inline-block;
}

.submenu {
    display: none;
}