/* Ejercicios CSS <3 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*Ejercicio 1: 
Aplicar color de fondo del cuerpo (body).
Aplicar color de texto del título <h1>.
Aplicar colores a los párrafos.

Ejercicio 2: Estilos de fuentes
Cambiar la fuente del título <h1> a Arial.
Cambiar el tamaño de la fuente del párrafo a 18px.
Plus: Agregar otra fuente de https://fonts.google.com/ y usarla en algún párrafo.

Ejercicio 3: Bordes y márgenes
Aplicar un borde sólido de 1px de color claro a un párrafo (<p>).
Aumentar el margen superior del título <h1> a 20px.
Agregar un padding de 10px alrededor del contenido del párrafo.

Ejercicio 4: Estilos en botón
Cambiar el color de fondo del botón a verde (#28a745) y el color del texto a blanco.
Agregar bordes redondeados (border-radius) de 5px.
Agregar padding 10px.
Aplicar ancho del botón a 100px.
Establecer margen superior e inferior de 10px.
Quitar el color del borde del botón.

Ejercicio 5: Inputs del formulario
Agregar padding de 5px.
Quitar bordes.
Agregar márgenes superiores e inferiores de 5px entre cada control
Plus: Aplicar un tipo de fuente para los labels de cada control.
Plus: Aplicar width y height al textarea. Ejemplo: 300px ancho y 100px alto.

Ejercicio 6: Footer
Aplicar color de fondo.
Cambiar color del texto del footer.
Agregar padding de 20px.
Alinear texto al centro.

Ejercicio 7: Header
Crear etiqueta header con un texto.
Aplicar color de fondo y color de texto.
Agregar padding de 50px.
Alinear textos al centro.

Ejercicio 8: Nav menu
Aplicar color de fondo a la etiqueta nav y color de texto.
Eliminar las bullets de la <ul> con: list-style: none;
En cada item <li>, agregar padding 10px y aplicar display: inline-block; para mostrar los elementos en línea.
Plus: Ocultar el submenu (ul dentro del li) con display: none;

Ejercicio 9: Diseño responsive - Media queries
Agregar media queries para que el color de fondo del body tenga un color diferente en distintas pantallas. 
Ejemplos: @media screen and (min-width: 768px) {}
@media screen and (min-width: 1280px) {}

*/

body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
    margin-top: 20px;
}

p {
    color: blue;
    background-color: white;
    font-size: 18px;
}

.p2 {
    font-family: "Roboto Condensed", sans-serif;
    border: 1px solid yellow;
    padding: 10px;
}

.btn-form {
    background-color: #28a745;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin: 10px 0;
    border-color: transparent;
}

input, textarea {
    padding: 5px;
    border: none;
    margin: 5px 0;
}

label {
    font-family: "EB Garamond", serif;
}

textarea {
    width: 300px;
    height: 100px;
}

footer {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}

.p-footer {
    background-color: lightcoral;
    color: white;
}

header {
    background-color: lightcoral;
    color: white;
    padding: 50px;
    text-align: center;
}

nav {
    background-color: rgba(219, 114, 114, 0.897);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li ul {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
}